<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>
<div class="p-3 mb-2 bg-info text-dark">

<br><br><br><h1 align="center" style="color:white">I AM ABHISHEK DHULE</h1>
<p align="center" style="color:white">Student(IT Engineer)</p><br>

<div class="container">
  <div class="card">
          <div class="card-block">
		  <br>
		 
		<h3 align="center">About me</h3>
		<br>
		<div class="row">
		
		<div class="col-sm-4"> &nbsp&nbsp&nbsp
		<img src="img-01.jpg" align="center" width="295" height="250"><br>&nbsp&nbsp&nbsp
		</div>
		<div class="col-sm-8"> <p>Hey,this is Abhishek. Currently I am an Engineering(IT) student. I have been working on my technical skills from last two years.</p>
              <p>I love to solve problems, soon I'll be starting preparing for Competitive coding using some of the well known platforms like codechef and hakerrank.</p>
				<p>Also i am interested in web development, although I have not yet started working on it but soon I'll.</p></div>
		
		</div>
		</div>
		</div>
       
          </div>
<br>
<br>

		<div class="container">
		<div class="card">
		<div class="card-block">
		<br>
		
		<h3 align="center">Education</h3><br>
		<div class="row">
		<div class="col-sm-4">
		<h4>&nbsp Passed out 10th class</h4>
		<p>&nbsp&nbsp 2016</p>
		<h6>&nbsp&nbsp School Of Scholars</h6><br><br>
		</div>
		
		<div class="col-md-4">
		<h4>&nbsp Passed out 12th class</h4>
        <p>&nbsp&nbsp 2018<p>
        <h6>&nbsp&nbsp Mumbai University</h6> <br><br>              
        </div>
		
		<div class="col-md-4"> 
		<h4>&nbsp B.E(IT)</h4>
        <p>&nbsp 2018-2022</p>
		<h6>&nbsp Mumbai University</h6>                                
        </div>
		
		</div>
		</div>
		</div>
		<br>
		<br>
		
		<div class="container">
		<div class="card">
		<div class="card-block">
		<br>
		<h3 align="center">Projects</h3><br>
		<h5 align="center"> Being a second year Engineering student, right now I am trying to opt some technical skills.</h5>
		<h5 align="center"> Soon I'll be starting to work on projects.</h5><br><br>
		</div>
		</div>
		</div><br>
		<br>
		
	<div class="container">
	<div class="card">
	<div class="card-block">
	<br>
		<h3 align="center">Skills</h3><br>
		<h5>&nbsp C </h5>
		<div class="progress">
		<div class="progress-bar progress-bar-striped progress-bar-animated" style="width:55%"></div>
		</div>
		
		<br>
		<h5>&nbsp Java</h5>
		<div class="progress">
		<div class="progress-bar progress-bar-striped progress-bar-animated" style="width:65%"></div>	
		</div>
		
		<br>
		<h5>&nbsp Html</h5>
		<div class="progress">
		<div class="progress-bar progress-bar-striped progress-bar-animated" style="width:58%"></div>
		</div>
		
		<br>
		<h5>&nbsp Bootstrap</h5>
		<div class="progress">
		<div class="progress-bar progress-bar-striped progress-bar-animated" style="width:40%"></div>
		</div>
		<br><br>
	</div>
	</div>
	</div><br><br>
	
	<div class="card">
          <div class="card-block"><br>
            <h2 align="center">Social Network</h2>
            <div class="row">
              <div class="col-md-3">
                <p class="social-buttons"><a href="https://www.facebook.com/abhishek.dhule.79" title=""><span class="social-round-icon fa-icon"><i class="fa fa-facebook"></i></span>@Abhishek_Dhule</a></p>
              </div>
              <div class="col-md-3">
                <p class="social-buttons"><a href="https://www.instagram.com/abhidhule9137/" title=""><span class="social-round-icon fa-icon"><i class="fa fa-instagram"></i></span>@Abhishek_Dhule</a></p>
              </div>
            </div>
          </div>
        </div>

</div>


</body>
</html>